body{
  background: rgb(91,136,194);
  background: linear-gradient(90deg, rgba(91,136,194,1) 0%, rgba(208,70,98,1) 100%); 
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 20px;
  color: black;
}
.icon{
  width: 80px;
  padding: 10px;
}
.container{
  background-color: rgba(255, 255, 255, 0.212) ;
  padding: 50px;
  border-radius: 30px;
}
.box{
  background-color: rgba(255, 255, 255, 0.212);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 5px;
  align-items: center;
  transition: 0.3s;
}
.box:hover{
  transform: scale(1.05);
}
.intro{
  width: 30%;
  padding-left: 20px;
}
.font-xl{
  font-size: 60px;
  margin: 0;
  font-weight: 700;
}
.font-l{
  font-size: 36px;
  margin: 0;
  font-weight: 600;
  line-height: 1.1;
}
.font-m{
  font-size: 30px;
  margin: 0;
  font-weight: 600;
}
.font-s{
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
}
.bar{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.button{
  font-size: 16px;
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 5px;
  margin: 2px;
}
.inpbox{
  font-size: 20px;
  padding: 7px;
  background-color: white;
}
.irm{
  position: absolute;
  width: 25%;
  border-radius: 5px;
  transition: 0.3s;
}
.irm:nth-child(1){
  top:70px;
  left: 35%;
  z-index: 1;
}
.irm:nth-child(2){
  top:120px;
  left:50%;
  z-index: 2;
}
.irm:nth-child(3){
  top:90px;
  left:67%;
  z-index: 3;
}
.irm:hover{
  transform: scale(1.05);
  transition-delay: 100ms;
  z-index: 10;
  border: 5px solid rgba(255, 56, 56, 0.363);
}